$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'partials/base';
@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';
@import 'signIn';
@import 'signUp';

footer{
    margin-top: 3em;
    padding-top: 1em;
    text-align: center;
    border-top: 1px solid $border-color;
    color: #999;
    clear: both;
}