<div class='hero-unit'>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, dignissimos, unde, provident, aspernatur explicabo nisi veniam illo distinctio minus iure illum facilis voluptas ipsa dolores reprehenderit repellat qui iste itaque commodi harum. Dolore, perferendis nulla cumque quibusdam dolores saepe? Quidem.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quasi officiis maxime maiores necessitatibus distinctio reiciendis ducimus ab eligendi soluta.</p>
</div>